head,
body {
    background-color: #36486b;
}

h1,
h2,
h3,
p {
    color: #fefbd8;
}

#about-us-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin: 25px;
    height: 100px;
}

h3,
#loading-mermaid,
#submit-faq-button,
#donate-button {
    width: 215px;
    text-align: center;
    background-color: #618685;
    border: 1px solid black;
}

#navbar-button {
    width: 215px;
    text-align: center;
    background-color: #618685;
    border: 1px solid black;
}

#navbar {
    /*
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

a {
    text-decoration: none;
}

#gif {
    display: flex;
    justify-content: center;
    margin: 25px;
}

p {
    padding: 10px 10%;
    text-align: justify;
    text-indent: 4em;
}

#mermaid-container {
    background-color: #fefbd8;
    opacity: .90;
    margin: 40px 10%;
    border-radius: 50px;
}

#loading-mermaid {
    position: absolute;
    margin-top: 40px;
    margin-left: 5px;
}

.mermaid {
    display: flex;
    justify-content: center;
    margin: 20px 5%;
}

#accordionContainer {
    margin: 40px 10%;
    background-color: #fefbd8;
}

.accordion-body {
    background-color: #fefbd8;
    filter: brightness(90%);
}

.accordion-button {
    background-color: #fefbd8;
    filter: brightness(100%);
}

#form {
    margin: 40px 10%;
}

#donation-input {
    width: 215px;
    margin: 10px 0px;
}

#donation-amount-label,
#donation-amount {
    margin: 10px 0px;
    color: #fefbd8;
}

footer {
    width: 100%;
    padding: 25px 0px;

    display: flex;
    justify-content: space-evenly;
}

#social-medias-facebook,
#social-medias-twitter,
#social-medias-instagram,
#social-medias-youtube {
    font-size: 25px;
}