{% extends "layout.html" %}

{% block title %}
Portifolio
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Symbol</th>
            <th class="text-start">Name</th>
            <th class="text-end">Shares</th>
            <th class="text-end">Price</th>
            <th class="text-end">TOTAL</th>
        </tr>
    </thead>
    <tbody>

        {% for purchase in purchases %}
        <tr>
            <td class="text-start">{{ purchase["symbol"] }}</td>
            <td class="text-start">{{ purchase["name"] }}</td>
            <td class="text-end">{{ purchase["shares"] }}</td>
            <td class="text-end">{{ purchase["current_price"] }}</td>
            <td class="text-end">{{ purchase["total"] }}</td>
            <td>
                <form action="/buy" method="post">

                    <input name="symbol" type="hidden" value="{{ purchase['symbol'] }}">
                    <div class="mb-3">
                        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="shares"
                            placeholder="Shares" type="number" required>
                    </div>
                    <input type="submit" value="Buy">
                </form>
            </td>
            <td>
                <form action="/sell" method="post">
                    <input name="symbol" type="hidden" value="{{ purchase['symbol'] }}">

                    <div class="mb-3">
                        <input autocomplete="off" class="form-control mx-auto w-auto" min="1" name="shares"
                            placeholder="Shares" type="number" required>
                    </div>
                    <input type="submit" value="Sell">
                </form>
            </td>
        </tr>
        {% endfor %}

    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">${{cash}}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 w-bold text-end">${{total}}</td>
        </tr>
    </tfoot>

    </tbody>
</table>
{% endblock %}